<div>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="grid-formgroup">
      <div class="slider">
        <mat-label
          >Grid Height: {{ formGroup.controls.gridHeight.value }}</mat-label
        >
        <mat-slider min="4" max="60" step="1" tickInterval="1">
          <input matSliderThumb formControlName="gridHeight" />
        </mat-slider>
      </div>
      <div class="slider">
        <mat-label
          >Grid Width: {{ formGroup.controls.gridWidth.value }}</mat-label
        >
        <mat-slider min="4" max="60" step="1" tickInterval="1">
          <input matSliderThumb formControlName="gridWidth" />
        </mat-slider>
      </div>
      <div class="input-field">
        <mat-form-field appearance="fill">
          <mat-label>Base Color</mat-label>
          <input matInput formControlName="baseColor" />
        </mat-form-field>
      </div>
      <div class="input-field">
        <mat-form-field appearance="fill">
          <mat-label>Ripple Color</mat-label>
          <input matInput formControlName="rippleColor" />
        </mat-form-field>
      </div>
      <div class="slider">
        <mat-label>Ripple Speed (ms)</mat-label>
        <mat-slider min="50" max="100" step="1" tickInterval="1" discrete>
          <input matSliderThumb formControlName="rippleSpeed" />
        </mat-slider>
      </div>
      <div class="slider">
        <mat-label>Slide me!</mat-label>
        <mat-slide-toggle formControlName="hasBorder"></mat-slide-toggle>
      </div>
      <button
        class="submit-button"
        mat-raised-button
        color="primary"
        type="submit"
      >
        Submit
      </button>
    </div>
  </form>
</div>
