<p class="grid-info">Click on the square to see pretty colors</p>
<div class="grid">
  <ng-container *ngFor="let line of rippleElements; let i = index">
    <div class="grid-row">
      <ng-container *ngFor="let element of line; let j = index">
        <app-ripple-element
          [clicked]="getClicked(i, j)"
          [rowPlaced]="i"
          [columnPlaced]="j"
          [isSquareEnabled]="getSquareEnabled(i, j)"
          (newClick)="startRipple($event)"
        ></app-ripple-element>
      </ng-container>
    </div>
  </ng-container>
</div>
